div .scoreContainer {
  width: 272px;
  height: 207px;

  background: url('../../assets/ScoreTable.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 1130px) {
    width: 240px;
  }
}

div .text {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  text-shadow:
    0 4px 4px 0 rgba(0, 0, 0, 0.25),
    -3px 2px 0 0 #bd4036,
    inset 0 0 10px 0 rgba(255, 255, 255, 0.25),
    inset 0 3px 1px 0 rgba(255, 255, 255, 0.35),
    inset -2px 0 4px 0 rgba(166, 98, 39, 0.25);

  @media (max-width: 1130px) {
    font-size: 26px;
  }

  &Number {
    font-size: 48px;
  }
}
