div .headerContainer {
  position: absolute;
  z-index: 50999;
  top: -52px;

  @media (max-height: 1000px) {
    top: 42px;
    padding: 0px 25px;
  }

  @media (max-height: 814px) {
    top: 142px;
    padding: 0px 13px;
  }

  button {
    z-index: 9999999999;
    opacity: 1;
    transition: 0.2s;

    img {
      @media (max-height: 1000px) {
        width: 260px;
      }

      @media (max-height: 814px) {
        width: 215px;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
