div .headerContainer {
  position: absolute;
  z-index: 50999;
  top: -52px;

  button {
    z-index: 9999999999;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
